h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-fluid-4);
}
h2 {
  font-size: var(--font-size-fluid-3);
}
h3 {
  font-size: var(--font-size-fluid-2);
}
h4 {
  font-size: var(--font-size-fluid-1);
}
h5 {
  font-size: var(--font-size-fluid-0);
}

strong {
  font-weight: var(--font-weight-bold);
}
